/* General start */
h1, p {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
/* General end */


/* Header Start */
header {
    color: whitesmoke;
    background-color: #008CBA;
    padding: 20px 0;
    text-align: center;
}
/* Header End */


/* Main start */

.flashcardContainer {
    text-align: center;
    display: flex;
    justify-content: center;
}

button {
    color: whitesmoke;
    background-color: #008CBA;
    padding: 10px 15px;
    margin-top: 20px;
    border: 2px solid #008CBA;
    border-radius: 8px;
    cursor: pointer;
}

button:hover{
    background-color: white; 
    color: black;
}
/* Main end */

/* Footer start */
/* Footer end */


/* Responsive design start */
